@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Support Team Details</h3>

<address>
    383 Secret Way<br />
    Redmond, Tasmania 123341-4563<br />
    <abbr title="Phone">P:</abbr>
    567.232.123
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@example.com</a>
</address>