@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student/Teacher Online Learning System</h1>
    <p class="lead">
        This is intended to be a prototype for the system I plan on creating for Emmanuel Christian School for their
        student/teacher database system.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Ensure that your personal details are up-to-date before proceeding.
        </p>
        <p><a class="btn btn-default" href="/Home/Starting">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Teacher Access</h2>
        <p>Teachers should monitor their student engagement through this link.</p>
        <p><a class="btn btn-default" href="/staffs">Click here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Student/Family Access</h2>
        <p>Students should be able to view their overall results with their families via this link.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Click here &raquo;</a></p>
    </div>
</div>