@model StudentTeacherPrototype.Models.Staff

@{
    ViewBag.Title = "Starting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>The starting page</h2>

<p>This page might give some information about what the system is to be used for.</p>
